extends home/layout_home
block main-a
  section.banner
    img.banner__img(src="img/banner.jpg", alt="banner")
    .banner__content
      h1 Bienvenido 
        span #{user.NOMBRE_M} #{user.APELLIDO_M}
block main-m
  section.banner
    img.banner__img(src="img/banner.jpg", alt="banner")
    .banner__content
      h1 Bienvenido 
        span #{user.NOMBRE_M} #{user.APELLIDO_M}
block main-p
  section.banner
    img.banner__img(src="img/banner.jpg", alt="banner")
    .banner__content
    .ed-container
      h1 Bienvenido 
        span #{user.NOMBRE_M} #{user.APELLIDO_M}
